.servingForm {
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
}

.heading {
  margin: 0;
}

.dishesList {
  margin: 0;
  padding: 0;
}

.dishesListItem {
  list-style: none;
}
