.servingForm {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  color: #000000;
  transition: left 0.3s;
}

.servingForm.onScreen {
  left: 0;
}

.dishesList {
  margin: 0;
  padding: 0;
}

.dishesListItem {
  list-style: none;
}
